name: Deploy FE to SOMEE

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install
        working-directory: ./fe

      - name: Build project
        run: npm run build
        working-directory: ./fe

      - name: Deploy to SOMEE
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: 155.254.246.47
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          server-dir: /www.shadow.somee.com/
          local-dir: ./fe/build/
          dangerous-clean-slate: false
